.error_alert,
.success_alert {
	position: relative;
	background: #D6443F;
	font-family: 'Circular Std';
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 8px;
	padding: 20px;
}

.success_alert {
	background: #1CA566 !important;
}

.error_alert h2,
.success_alert h2 {
	color: #fff;
	margin: 0 0 6px;
	font-size: 24px;
	font-weight: 400;
}

.error_alert p,
.success_alert p {
	color: #fff;
	opacity: 0.7;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	max-width: 100%;
}

.error_alert span,
.success_alert span {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.assessment_wrapper{
	padding: 30px 63px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.assessment_wrapper > div{
	min-height: 100vh;
}


.assessment_wrapper.with_gray{
	padding: 0;
	min-height: 100vh;
	display: block;
}

.assessment_wrap.welcome_page{
	
}

.assessment_wrap.welcome_page{
	display: flex;
	align-items: stretch;
	height: 100%;
	min-height: 100vh;
	justify-content: space-between;
}

.assessment_wrap.report_page{
	display: flex;
	align-items: stretch;
	height: 100%;
	min-height: auto;
	justify-content: space-between;
}

.gray_wrap{
	width: 40%;
	background: #F3F4F6;

}

.assessment_wrap.dashboard_page > div,
.assessment_wrap.welcome_page > div,
.assessment_wrap.report_page > div{
	padding: 55px 63px;
}


.white_wrap,
.gray_wrap{
	display: inline-flex;
	flex-direction: column;
	/*justify-content: center;*/
}

.assessment_wrap.welcome_page .gray_wrap{
	width: 40%;
	background: #F3F4F6;
	padding: 30px 63px;
}
.assessment_wrap h1{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 32px;
	max-width: 700px;

	color: #072B4F;
}

.assessment_wrap p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	/* Secondary */

	color: #516B84;
}

.assessment_wrap h2{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	/* Secondary */

	color: #516B84;
}

.assessment_wrap.welcome_page button{
	margin-top: 50px;
}

.top_sub_title{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	margin-bottom: 32px;

	/* Primary */

	color: #072B4F;
}


.breather_wrap{
	padding: 150px 0;
}



.btn_wrap{
	margin-top: auto;
	margin-bottom: 0;

}

.white_wrap .btn_wrap{
	margin-top: unset;
	margin-bottom: unset;	
}

.date_text{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Secondary */

	color: #516B84;
}

.rating_wrap {
	border:  5px solid #F8E71C;
	color: white;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	border-radius: 50%;
}

.rating_wrap.risk_high {
	background: #EB5757;
}

.rating_wrap.risk_medium {
	background: #F9982C;
}

.rating_wrap.risk_low {
	background: #22A1D1;
}

.rating_wrap.risk_unlikely {
	background: #5AA240;
}

.rating_wrap.rating_wrap_small{
	width: 42px;
	height: 42px;
	font-size: 18px;
	line-height: 23px;
	border-width: 2px;
}


.report_page h2{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	/* Primary */
	margin-bottom: 0px;
	color: #072B4F;
}


.scale_img_wrap{
	margin-top: 30px;
}

.report_page .white_wrap{
	margin-bottom: auto;
	margin-top: 0;
}

.report_right_wrap{
	width: 55%;
}

.results_bottom_wrap .report_btns_wrapper{
	margin-bottom: 30px;
	position: relative;
}

.results_bottom_wrap .report_btns_wrapper:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: #F3F4F6;
}

.results_bottom_wrap .report_btns_wrapper a{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Secondary */
	z-index: 2;
	position: relative;
	color: #516B84;
	padding: 5px 10px;
	/* Primary */
	border-bottom: 2px solid #F3F4F6;
	
}

.results_bottom_wrap .report_btns_wrapper a.active{
	border-color: #F8E71C;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.scores_section h2{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 46px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.normal_text_wrap{
	margin-top: 16px;
	margin-bottom: 60px;
}

.normal_text_wrap p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	color: #072B4F;
}

.bold_text_wrap h3{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	color: #072B4F;

}

.bold_text_wrap p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 17.71px;
	margin-bottom: 0;
	color: #072B4F;

}

.report_btn{
	margin-top: 26px;
	margin-bottom: 70px;
}

.download_app_wrap{
	background: rgba(248, 231, 28, 0.2);
	border-radius: 4px;
	padding: 16px;
	max-width: 323px;
}

.download_app_wrap h4{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 0;
	/* Primary */
	margin-top: 0;
	color: #072B4F;
}

.download_app_wrap p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	/* Primary */
	margin-bottom: 21px;
	color: #072B4F;
}

.download_app_wrap .app_btns{

	display: flex;
}


.diagnosis_risks > div.risk_high > div{
	background: #EB5757!important;
}

.diagnosis_risks > div.risk_medium > div{
	background: #F9982C!important;
}

.diagnosis_risks > div.risk_low > div{
	background: #22A1D1!important;
}

.diagnosis_risks > div.risk_unlikely > div{
	background: #5BA23F!important;

}

.diagnosis_risks > div h3{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}


.diagnosis_risks > div.risk_high h3:last-child{
	color: #EB5757!important;
}

.diagnosis_risks > div.risk_medium h3:last-child{
	color: #F9982C!important;
}

.diagnosis_risks > div.risk_low h3:last-child{
	color: #22A1D1!important;
}

.diagnosis_risks > div.risk_unlikely h3:last-child{
	color: #5BA23F!important;

}



.download_app_wrap .app_btns a{
	border-radius: 50%;
	margin-right: 20px;
	display: inline-flex;
	background: #1CA566;
	height: 44px;
	width: 44px;
	justify-content: center;
	align-items: center;
}

.download_app_wrap .app_btns a img{
	max-width: 100%;
}

.result_questions_wrap{
	display: flex;
	flex-wrap: wrap;

}

.result_questions_wrap .result_questions_item_wrap{
	width: 33.33%;

	padding-right: 40px;
	margin-left: 0!important;
}

.result_questions_wrap .result_questions_item_wrap h3{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;

	/* Primary */

	color: #072B4F;

}

.download_text{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.result_questions_wrap .result_questions_item_wrap p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height */


	/* Secondary */

	color: #516B84;

}

.scores_section:last-of-type {
	border-bottom: none;
}

.scores_section h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}

.scores_section .diagnosis_risks > div,
.scores_section .functional_impairments > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Circular STD';
}

.scores_section .diagnosis_risks > div:last-of-type,
.scores_section .functional_impairments > div:last-of-type {
	margin-bottom: 10px;
}

.scores_section .diagnosis_risks > div > div:first-of-type,
.scores_section .functional_impairments > div > div:first-of-type {
	width: 25px;
	height: 25px;
	margin-right: 12px;
	margin-left: 15px;
	border-radius: 50%;
	background: #072B4F;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}

.scores_section .functional_impairments > div > div:first-of-type {
	width: 10px;
	height: 10px;
	margin-right: 16px;
	margin-left: 23px;
}

.scores_section .diagnosis_risks > div > div.risk_level_unlikely,
.scores_section .functional_impairments > div > div.risk_level_unlikely {
	background: #5BA23F !important;
	color: #fff !important;
}

.scores_section .diagnosis_risks > div > div.risk_level_low,
.scores_section .functional_impairments > div > div.risk_level_low {
	background: #22A1D1 !important;
}

.scores_section .diagnosis_risks > div > div.risk_level_medium,
.scores_section .functional_impairments > div > div.risk_level_medium {
	background: #F9982C !important;
}

.scores_section .diagnosis_risks > div > div.risk_level_high,
.scores_section .functional_impairments > div > div.risk_level_high {
	background: #EB5757 !important;
}

.scores_section .diagnosis_risks > div > h3,
.scores_section .functional_impairments > div > p {
	margin: 8px 0;
}

.scores_section .diagnosis_risks > div > h3:first-of-type,
.scores_section .functional_impairments > div > p:first-of-type {
	width: 230px;
	font-weight: 500;
	color: #072B4F;
}

.scores_section .diagnosis_risks > div > h3:last-of-type,
.scores_section .functional_impairments > div > p:last-of-type {
	font-weight: 500;
	color: #516B84;
}

.scores_section .questions {
	font-family: 'Circular STD';
}

.scores_section .questions h3 {
	font-size: 18px;
	font-weight: 500;
	color: #072B4F;
}

.scores_section .questions > div > div {
	margin-left: 15px;
}

.dashboard_page{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.dashboard_page > div{
	width: 60%;
}

.dashboard_page > div.dashboard_left{
	width: 40%;
}

.dashboard_right{
	margin-top: 0;
}

.dashboard_right_btn {
	display: flex;
	justify-content: flex-end;
}

.dashboard_left p{
	max-width: 60%;
}

.full_report_btn{
	margin-top: 40px;
}

.dashboard_page > div.dashboard_right img{
	width: 100%;
}

.assessment_list_wrap{
	margin-top: 0;
	padding: 0 65px;
}

.assessment_list_wrap h3{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 16px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.assessment_list_wrap .assessment_item{
	display: flex;
	margin-bottom: 20px;
	padding: 16px 25px;
	border: 1px solid #A8B5C1;
	box-sizing: border-box;
	border-radius: 8px;
	align-items: center;
	transition: all .3s ease-in;
	cursor: pointer!important;
}

.assessment_list_wrap .assessment_item .ai_score{
	width: 70px;

}

.assessment_list_wrap .assessment_item .ai_action{
	width: 50px;
	text-align: right;
}

.assessment_list_wrap .assessment_item .ai_details{
	width: 100%;
}

.assessment_list_wrap .assessment_item .ai_details h4{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */
	margin-bottom: 0;
	margin-top: 0;
	/* Primary */
	transition: all .3s ease-in;
	color: #072B4F;

}

.assessment_list_wrap .assessment_item .ai_details p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #516B84;
	margin-top: 0;
	margin-bottom: 0;
	transition: all .3s ease-in;
}

.assessment_list_wrap .assessment_item .ai_action{
	color: #072B4F;
	font-size: 16px;
	transition: all .3s ease-in;
}

.assessment_list_wrap .assessment_item.active,
.assessment_list_wrap .assessment_item:hover{
	background: #072B4F;
}	

.assessment_list_wrap .assessment_item.active .ai_details h4,
.assessment_list_wrap .assessment_item:hover .ai_details h4,
.assessment_list_wrap .assessment_item.active .ai_details p,
.assessment_list_wrap .assessment_item:hover .ai_details p,
.assessment_list_wrap .assessment_item.active .ai_action,
.assessment_list_wrap .assessment_item:hover .ai_action{
	color: white;
}


.dashboard_expired{
	background: rgba(248, 231, 28, 0.2);
	border-radius: 8px;
	padding: 25px;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	min-height: 350px;
}

.dashboard_expired_img{
	text-align: right;
}

.dashboard_expired button{
	margin-top: auto;
	font-family: 'Circular Std';
	margin-bottom: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	max-width: 80%;
	color: #FFFFFF;
}

.dashboard_expired h3{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 0;
	/* Gray 1 */

	color: #333333;
}

.dashboard_expired p{
	margin-top: 23px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	color: #333333;
}

.custom_loader{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}

.custom_loader p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	/* Primary */
	margin-top: 30px;
	color: #072B4F;

}


h2.assessmentDashRiskText{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	/* Primary */

	color: #072B4F;
}

.assessment_list_inner_wrap{
	flex-wrap: wrap!important;
}

.results_header_wrap{
	padding: 55px 63px 8px 55px;

}

.results_header_wrap .date_text{
	margin-top: 0;

	margin-bottom: 0;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Secondary */

	color: #516B84;
}

.results_header_wrap h1{
	margin-top: 0;
	margin-bottom: 0;
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	/* Primary */
	padding-bottom: 8px;
	color: #072B4F;
	border-bottom: 4px solid #F3F4F6;
}

.riskText{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;

	/* Primary */

	color: #072B4F;
}

.yellow_wrap{
	background: #FEFDE8;
	/* Brand */

	border: 1px solid #F8E71C;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 16px;
	max-width: 450px;
}

.yellow_wrap h4{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */
	margin-bottom: 19px;
	margin-top: 0;
	color: #000000;
}

.yellow_wrap p,
.yellow_wrap li{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	color: #000000;
}

.yellow_wrap ul{
	padding-left: 20px;
}

.yellow_wrap ul li{
	margin-bottom: 5px;
}

.yellow_wrap ul li span:first-child{
	width: 70px;
	display: inline-flex;
}

.results_bottom_wrap{
	padding: 55px 63px;
}

.result_pricing_section{
	display: flex;
	justify-content: center;
}

.result_pricing_section .result_pricing_section_item {
	position: relative;
	width: 30%;
	max-width: 280px;
	border: 1px solid #A8B5C1;
	margin-left: 36px;
	margin-right: 36px;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 24px;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}

.result_pricing_section .result_pricing_section_item:last-of-type {
	border-color: #1CA566;
}

.result_pricing_section .result_pricing_section_item .discount {
	font-family: 'Circular STD';
	padding: 7px 10px;
	background: #F8E71C;
	color: #000;
	font-size: 12px;
	border-radius: 4px;
	text-transform: uppercase;
	width: 200px;
	margin: 0 auto;
	position: absolute;
	top: -16px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 500;
}

.pricing_section_text{
	margin-top: 40px;
	text-align: center;
}

.pricing_section_text ul{
	padding-left: 0;
	display: inline-block;
}

.pricing_section_text ul li{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */
	/* Primary */
	color: #072B4F;
}

.pricing_section_text ul li a{
	color: #1ca566;
}

.result_pricing_section .result_pricing_section_item h4{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 50px;
	color: #000000;

}

.result_pricing_section .result_pricing_section_item h3{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 76px;
	/* identical to box height */
	margin-bottom: 7px;
	margin-top: 0;
	color: #000000;

}


.result_pricing_section .result_pricing_section_item p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */

	margin-top: 7px;
	/* Secondary */
	margin-bottom: 33px;
	color: #516B84;

}


.report_content_crisis_section{
	background: #FEFDE8;
	border-radius: 8px;
	padding: 31px;
	margin-bottom: 40px;
}

.report_risks_wrap{
	margin-bottom: 40px;
}

.report_risks_wrap h2{
	marginBottom: 48px;
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 46px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}


.report_risks_flex_wrap{
	display: flex;
	flex-wrap: wrap;
}

.report_risks_flex_wrap > div{
	width: 50%;
	padding-right: 40px;
}


.report_risks_flex_wrap h3{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	/* Primary */

	color: #072B4F;
	margin-top: 0;
	margin-bottom: 5px;
}

.report_risks_flex_wrap h4{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 24px;
	margin-top: 0;
}

.report_risks_flex_item{
	padding-left: 48px;
	margin-bottom: 50px;
	position: relative;
}

.report_risks_flex_item:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
	width: 24px;
	border-radius: 50%;

}

.report_risks_flex_wrap .report_risks_flex_item.unlikely:before{
	background: #5BA23F;
}

.report_risks_flex_wrap .report_risks_flex_item.low:before{
	background: #22A1D1;
}

.report_risks_flex_wrap .report_risks_flex_item.medium:before{
	background: #F9982C;
}

.report_risks_flex_wrap .report_risks_flex_item.high:before{
	background: #EB5757;
}


.report_risks_flex_wrap .report_risks_flex_item.unlikely h4{
	color: #5BA23F;
}

.report_risks_flex_wrap .report_risks_flex_item.low h4{
	color: #22A1D1;
}

.report_risks_flex_wrap .report_risks_flex_item.medium h4{
	color: #F9982C;
}

.report_risks_flex_wrap .report_risks_flex_item.high h4{
	color: #EB5757;
}

.results_recommendations{
	margin-bottom: 65px;
}

.results_recommendations h2{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 46px;

	/* Primary */

	color: #072B4F;

}


.results_recommendations p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	/* Primary */
	color: #072B4F;
}

.results_thoughts_wrap{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 84px;
}

.results_thoughts_wrap .results_thoughts_item{
	width: 50%;
	padding-right: 40px;
}

.results_thoughts_wrap .results_thoughts_item h4{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	/* Primary */
	margin-top: 0;
	margin-bottom: 8px;
	color: #072B4F;

}


.results_thoughts_wrap .results_thoughts_item p,
.results_thoughts_wrap .results_thoughts_item li{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;

	/* Primary */

	color: #072B4F;


}

.disclaimer h5{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */


	/* Secondary */

	color: #516B84;

}

.disclaimer p{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	/* Secondary */

	color: #516B84;

}

.report_content_crisis_section h4{
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */

	text-align: center;

	color: #EB5757;
	margin-top: 0;
	margin-bottom: 14px;
}

.report_content_crisis_section h3{
	/* Bold */

	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	color: #000000;
	text-align: center;

}

.report_content_crisis_section p{
	/* Bold */
	margin-bottom: 0;
	font-family: Circular Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22.77px;
	text-align: center;

	color: #000000;

}


.line_header_wrap{
	border-bottom: 4px solid #F3F4F6;
	margin-bottom: 0;
	position: relative;
}

.line_header_wrap:before{
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #F8E71C;	
	height: 4px;
	z-index: 2;
}

.line_header_wrap h2{
	font-family: Circular Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	/* Primary */

	color: #072B4F;

}

.line_header_as{
	padding-left: 63px;
	padding-right: 63px;
	padding-top: 50px;
}

@media (max-width: 1200px) {
	.result_pricing_section .result_pricing_section_item {
		width: 98%;
    max-width: 100%;
		margin-left: 1%;
    margin-right: 1%;
	}
}

@media(max-width:  1199px) and (min-width:  768px){
	.dashboard_left p{
		max-width: 100%;
	}

	.assessment_list_inner_wrap{
		flex-wrap: wrap!important;
	}
}

@media (max-width: 1060px) {
	.result_pricing_section{
		flex-direction: column;
	}

	.result_pricing_section .result_pricing_section_item {
		width: 100%;
    max-width: 100%;
		margin-left: 0;
    margin-right: 0;
		margin-bottom: 30px;
	}

	.result_pricing_section .result_pricing_section_item:last-of-type {
		margin-bottom: 0;
	}
}

@media (max-width: 991px) {
	.yellow_wrap{
		max-width: 100%;
	}
}

@media(max-width:  991px) and (min-width:  768px){
	.assessment_wrap.report_page{
		flex-wrap: wrap;
	}
	.assessment_wrap.welcome_page > div,
	.assessment_wrap.report_page > div,
	.results_bottom_wrap,
	.results_header_wrap{
		padding: 20px 30px;
		width: 100%;
	}

	.line_header_as{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
	}

	.report_risks_wrap h2,
	.results_recommendations h2,
	.scores_section h2{
		font-size: 26px;
	}

	.report_risks_flex_wrap h3{
		font-size: 18px;
	}

	.report_risks_flex_wrap > div,
	.results_thoughts_wrap{
		margin-bottom: 10px;
	}

	.report_risks_wrap,
	.results_recommendations{
		margin-bottom: 20px;
	}

	.results_recommendations p{
		font-size: 16px;
		line-height: 18px;
	}

	.dashboard_left p{
		max-width: 100%;
	}

	.dashboard_page > div,
	.dashboard_page > div.dashboard_left{
		width: 100%;
	}

	.dashboard_right{
		padding-top: 0!important;
		padding-bottom: 0!important;		
		margin-top: 0!important;
	}

	.assessment_list_wrap{
		margin-top: 0;
	}

	.assessment_list_inner_wrap{
		flex-wrap: wrap!important;
	}

	.report_risks_flex_wrap > div,
	.results_thoughts_wrap .results_thoughts_item,
	.result_questions_wrap .result_questions_item_wrap{
		padding-right: 10px;
		width: 100%;
	}
}

@media(max-width:  767px){
	.assessment_wrap.report_page{
		flex-wrap: wrap;
	}

	.report_risks_flex_wrap > div,
	.results_thoughts_wrap .results_thoughts_item,
	.result_questions_wrap .result_questions_item_wrap{
		padding-right: 10px;
		width: 100%;
	}


	.assessment_wrap.welcome_page > div,
	.assessment_wrap.report_page > div,
	.assessment_wrap.dashboard_page > div,
	.results_bottom_wrap,
	.results_header_wrap{
		padding: 20px 30px;
		width: 100%;
	}

	.line_header_as{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
	}

	.report_risks_wrap h2,
	.results_recommendations h2,
	.scores_section h2{
		font-size: 26px;
	}

	.report_risks_flex_wrap > div,
	.results_thoughts_wrap .results_thoughts_item,
	.result_questions_wrap .result_questions_item_wrap{
		padding-right: 10px;
		width: 100%;
	}

	.report_risks_flex_wrap h3{
		font-size: 18px;
	}

	.report_risks_flex_wrap > div,
	.results_thoughts_wrap{
		margin-bottom: 10px;
	}

	.report_risks_wrap,
	.results_recommendations{
		margin-bottom: 20px;
	}

	.results_recommendations p{
		font-size: 16px;
		line-height: 18px;
	}


	.assessment_list_inner_wrap{
		flex-wrap: wrap!important;
	}

	.assessment_wrap.welcome_page{
		flex-wrap: wrap;
	}


	.white_wrap,
	.gray_wrap{
		width: 100%!important;
		padding: 20px 30px!important;
		width: 100%;
		word-break: break-all;
	}

	.dashboard_left p{
		max-width: 100%;
	}

	.dashboard_page > div,
	.dashboard_page > div.dashboard_left{
		width: 100%;
	}

	.dashboard_right{
		padding-top: 0!important;
		padding-bottom: 0!important;		
		margin-top: 20px!important;
	}

	.assessment_list_wrap{
		margin-top: 0;
		padding: 20px 30px;
		width: 100%;
	}
}


