.container {
  width: 100%;
  display: flex;
}

.authBg {
  background: url('/auth-bg.png') left top no-repeat;
  width: 50%;
  min-height: 100vh;
  background-size: cover;
}

.authBg .mooditudePremium,
.authBg .free,
.authBg .oneTime {
  color: #072B4F;
  font-family: 'Circular Std';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center;
  height: 100%;
}

.authBg .oneTime.no_padding{
  padding-top: 0;
}
.authBg .mooditudePremium h2,
.authBg .oneTime h2 {
  margin: 10px 0 40px;
  font-weight: 500;
}

.authBg .oneTime h2 {
  margin: 15px 0 15px;
}

.authBg .mooditudePremium > div strong,
.authBg .oneTime > div strong {
  font-size: 40px;
  font-weight: 600;
  margin-right: 3px;
}

.authBg .mooditudePremium > div span {
  margin-left: 3px;
  font-size: 20px;
  font-weight: 300;
}

.authBg .mooditudePremium > div:last-of-type,
.authBg .oneTime > div:last-of-type {
  font-size: 16px;
  font-weight: 300;
  width: 400px;
}

.error {
  margin-top: 5px;
  font-size: 10px;
  line-height: 18px;
  color: #D6443F;
}

.errorAlert {
  margin-bottom: 17px;
  background: #D6443F;
  color: #fff;
  padding: 11px 15px;
  border-radius: 4px;
}

.authForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #072B4F;
  position: relative;
  font-size: 16px;
}

/*.authForm input[type="text"],
.authForm input[type="email"], 
.authForm input[type="password"] {
  color: #072B4F;
}
*/
.authForm a,
.link {
  color: #1CA566;
  font-weight: 400;
  line-height: 18px;
}

.authForm a:hover,
.link:hover {
  color: #178351;
}

.authForm .authFormInner {
  width: 300px;
}

.authForm .headingContainer {
    display: flex;
    align-items: center;
    margin: 20px 0 45px;
}

.authForm .headingContainer > div {
  box-sizing: border-box;
}

.authForm .headingContainer > div:first-of-type {
  width: 70%;
  padding: 5px 30px 5px 0;
  border-right: 2px solid #F8E71C;
}

.authForm .headingContainer > div:last-of-type {
  width: 30%;
  padding-left: 30px;
}

.authForm .heading {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.authForm .subHeading {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.authForm .field {
  margin-bottom: 17px;
}

/*.authForm .field input {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 11px 15px;
  width: 100%;
}
*/
/*.authForm .field input.hasError {
  border: 1px solid #D6443F;
}
*/
.authForm button {
  margin-top: 20px;
  margin-bottom: 15px;
  background: #1CA566;
  border: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  line-height: 18px;
}

.authForm button:hover {
  background: #21bb74;
  cursor: pointer;
}

.authForm button:disabled {
  opacity: 0.3;
  cursor: default !important;
  background: #1CA566 !important;
}

.authForm .passwordNotice {
  font-size: 10px;
  line-height: 18px;
  padding: 12px 12px;
  border-radius: 4px;
  background: #F3F4F6;
  color: #516B84;
  margin-bottom: 17px;
}

.authForm .privacyPolicy {
  margin-bottom: 12px;
}

.authForm .privacyPolicy input {
  position: relative;
  top: 1px;
  margin-right: 12px;
}

.account {
  /*background: url('/auth-bg.png') left top no-repeat;*/
  background-size: cover;
}

.account > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  margin: 0 auto;
}

.account > div > div {
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  line-height: 1.6;
  color: #072B4F;
}

.account h1 {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}


.privacyPolicyLabel{
  padding-left: 0;
}

.privacyPolicyText,
.privacyPolicyText span span{
  font-family: 'Circular Std';
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;
}

.privacyPolicyTextInput,
.privacyPolicyTextInput input,
.privacyPolicyTextInput svg,
.privacyPolicyTextInput span{
  pointer-events: none!important;
  user-select: none!important;
}

.privacyPolicyLabel div{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;

}

.mobile_visible{
  display: none;
}

.trial_text{
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;

}
.desktop{
  margin-bottom: 50px;
}

.desktop{
  display: flex;
  justify-content: space-between;
  width: 400px;
  position: relative;
}

.desktop .step_item{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  position: relative;
  z-index: 2;
}

.desktop .step_active_item .step_number{
  background: #F8E71C;
  color: #000000;
}

.desktop .step_number{
  
  background: #072B4F;

  height: 30px;
  width: 30px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  border-radius: 50%;

  color: #F8E71C;
  text-align: center;
  
}

.desktop .step_item p{
  margin-top: 0;
  margin-top: 7px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;

}

.desktop:before{
  content: '';
  height: 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #F8E71C;
  position: absolute;
  z-index: 1;
  top: 15px;
}

/*Responsive*/

@media(min-width:  768px) and (max-width:  991px){
    .authBg .mooditudePremium > div:last-of-type,
    .authBg .oneTime > div:last-of-type {
      width: 260px;
      
      margin-left: auto;
      margin-right: auto;
    }

    .desktop{
      width: 260px;
      
      margin-left: auto;
      margin-right: auto;
    }
}

@media(max-width:  767px){

  .privacyPolicyText,
  .privacyPolicyText span span{
    white-space: normal;
    word-break: break-word;
  }

  .authBg .mooditudePremium,
  .authBg .free,
  .authBg .oneTime {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    align-items: flex-start;
    
  }

  .container {
    flex-wrap: wrap;
  }

  .mobile_logo{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .mobile_logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  .mobile_hidden{
    display: none;
  }

  .mobile_visible{
    width: 100%;
    display: block;
  }

  .authBg{
    /*display: none;*/
    width: 100%;
    height: auto;
    min-height: 0;
  }

  .authBg .mooditudePremium{
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .authForm{
    width: 100%;
    padding-top: 50px;
  }

  .authForm button{
    width: 100%;
  }

  .mobile_steps{
    display: flex;
    justify-content: center;
    
    position: relative;
  }

  .step_item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
  }

  .step_number{
    
    background: #072B4F;

    height: 30px;
    width: 30px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    border-radius: 50%;
    
    color: #F8E71C;
    text-align: center;
    line-height: 30px;
  }

  .step_item p{
    margin-top: 0;
    margin-top: 7px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */


    color: #072B4F;
  }

  .mobile_steps:before{
    content: '';
    height: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #F8E71C;
    position: absolute;
    z-index: -1;
    top: 15px;
  }

  .mobile_steps.mobile_steps_small:before{
    width: 100px;
  }

  .step_active_item .step_number{
    background: #F8E71C;
    color: #000000;
  }

  .authBg .mooditudePremium > div:last-of-type,
  .authBg .oneTime > div:last-of-type {
    width: 80%;
  }

  .authBg .mooditudePremium img{
    height: 30px;
    width: 30px;

  }

  .authBg .mooditudePremium h2{
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-transform: uppercase;

    /* Primary */
    margin-bottom: 20px;
    color: #072B4F;
  }

  .authBg .mooditudePremium  div{
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    /* Primary */

    color: #072B4F;

  }

  .authBg .mooditudePremium  div.trial_text{
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* Secondary */

    color: #516B84;


  }

}



