.container {
  width: 100%!important;
  display: flex!important;
}

.authBg {
  background: url('/auth-bg.png') left top no-repeat!important;
  width: 50%!important;
  height: 100vh!important;
  background-size: cover!important;
}

.error {
  margin-top: 5px!important;
  font-size: 10px!important;
  line-height: 14px!important;
  color: #D6443F!important;
}

.errorAlert {
  margin-bottom: 17px!important;
  background: #D6443F!important;
  color: #fff!important;
  padding: 11px 15px!important;
  border-radius: 4px!important;
}

.authForm {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  width: 50%!important;
  color: #072B4F!important;
  font-size: 14px!important;
}

.authForm input[type="text"],
.authForm input[type="email"], 
.authForm input[type="password"] {
  color: #072B4F!important;
}

.authForm a,
.link {
  color: #1CA566!important;
  font-weight: 400!important;
  line-height: 18px!important;
}

.authForm a:hover,
.link:hover {
  color: #178351!important;
}

.authForm .authFormInner {
  width: 300px!important;
}

.authForm .headingContainer {
    display: flex!important;
    align-items: center!important;
    margin: 20px 0 45px!important;
}

.authForm .headingContainer > div {
  box-sizing: border-box!important;
}

.authForm .headingContainer > div:first-of-type {
  width: 70%!important;
  padding: 5px 30px 5px 0!important;
  border-right: 2px solid #F8E71C!important;
}

.authForm .headingContainer > div:last-of-type {
  width: 30%!important;
  padding-left: 30px!important;
}

.authForm .heading {
  margin-bottom: 5px!important;
  margin-top: 0!important;
  font-size: 24px!important;
  font-weight: 700!important;
}

.authForm .subHeading {
  font-size: 14px!important;
  line-height: 18px!important;
  font-weight: 400!important;
  margin: 0!important;
}

.authForm .field {
  margin-bottom: 17px!important;
}

/*.authForm .field input {
  border: 1px solid #eaeaea!important;
  border-radius: 4px!important;
  padding: 11px 15px!important;
  width: 100%!important;
}
*/
.authForm .field input.hasError {
  border: 1px solid #D6443F!important;
}

.authForm button {
  margin-top: 20px!important;
  margin-bottom: 15px!important;
  background: #1CA566!important;
  border: none!important;
  padding: 10px 30px!important;
  color: #fff!important;
  border-radius: 4px!important;
  font-weight: 700!important;
  line-height: 18px!important;
}

.authForm button:hover {
  background: #21bb74!important;
  cursor: pointer!important;
}

.authForm button:disabled {
  opacity: 0.3!important;
  cursor: default !important;
  background: #1CA566 !important;
}

.authForm .passwordNotice {
  font-size: 10px!important;
  line-height: 14px!important;
  padding: 12px 12px!important;
  border-radius: 4px!important;
  background: #F3F4F6!important;
  color: #516B84!important;
  margin-bottom: 17px!important;
}

.authForm .privacyPolicy {
  margin-bottom: 12px!important;
}

.authForm .privacyPolicy input {
  position: relative!important;
  top: 1px!important;
  margin-right: 12px!important;
}

.account {
  /*background: url('/auth-bg.png') left top no-repeat!important;*/
  background-size: cover!important;
}

.account > div {
  display: flex!important;
  justify-content: center!important;
  flex-direction: column!important;
  height: 100vh!important;
  width: 300px!important;
  margin: 0 auto!important;
}

.account > div > div {
  background: #fff!important;
  padding: 30px!important;
  border-radius: 4px!important;
  line-height: 1.6!important;
  color: #072B4F!important;
}

.account h1 {
  margin-bottom: 10px!important;
  margin-top: 0!important;
  font-size: 24px!important;
  font-weight: 700!important;
}


.privacyPolicyLabel{
  padding-left: 0!important;
}

.privacyPolicyText,
.privacyPolicyText span span{
  font-family: 'Circular Std'!important;
  white-space: nowrap!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 18px!important;
  /* identical to box height */


  /* Primary */

  color: #072B4F!important;
}

.privacyPolicyTextInput,
.privacyPolicyTextInput input,
.privacyPolicyTextInput svg,
.privacyPolicyTextInput span{
  pointer-events: none!important;
  user-select: none!important;
}


/*Responsive*/

@media(max-width:  767px){
  .authBg{
    display: none!important;
  }

  .authForm{
    width: 100%!important;
    padding-top: 50px!important;
  }

  .authForm button{
    width: 100%!important;
  }
}

