html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #1ca566;
}

* {
  box-sizing: border-box;
}


main{
  position: relative;
}

.body-wrapper{
  display: flex;

}

.body-wrapper > div{
  width: 100%;
}

.body-wrapper.logged > div:last-child{
  padding-left: 207px;
  transition: all .3s ease-in;
}

.menu_collapsed.body-wrapper.logged > div:last-child{
  padding-left: 15px;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Black.woff2') format('woff2'),
        url('/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('/fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('/fonts/CircularStd-Book.woff2') format('woff2'),
        url('/fonts/CircularStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/860c3ec7bbc5da3e97233ccecafe512e.woff2') format('woff2'),
        url('/fonts/860c3ec7bbc5da3e97233ccecafe512e.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Font Awesome 5 Pro Solid';
    src: url('/fonts/FontAwesome5Pro-Solid.woff2') format('woff2'),
        url('/fonts/FontAwesome5Pro-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mt_0{
  margin-top: 0!important;
}

.mb_0{
  margin-bottom: 0!important;
}

img{
  max-width: 100%;
}

.custom_stepper_wrap .MuiStepLabel-labelContainer{
  display: none!important;
}

.custom_stepper_wrap .Mui-active{
  color: #F8E71C;

}

.custom_stepper_wrap .Mui-active text{
  fill: #F8E71C;

}

.custom_stepper_wrap .Mui-disabled,
.custom_stepper_wrap .Mui-disabled svg{
  color: #A8B5C1;
}

.custom_stepper_wrap .Mui-disabled text{
  fill: #A8B5C1;
}


.custom_stepper_wrap .Mui-completed .MuiStepLabel-iconContainer{
  color: #F8E71C;
  position: relative;
}

.custom_stepper_wrap .Mui-completed .MuiStepLabel-iconContainer svg{
  color: #F8E71C;
}

.custom_stepper_wrap .Mui-completed .MuiStepLabel-iconContainer:before{
    content: '';
    width: 20px;
    height: 80%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #072B4F;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}
.custom_stepper_wrap .MuiStepLabel-iconContainer svg{
  position: relative;
  z-index: 3;
}

.custom_stepper_wrap > div > div:last-child > span{
  position: relative;
  z-index: 2;
  background: white;
}

.radio_option_text_wrap{
  font-family: 'Circular Std';
  background: #F3F4F6;
  border-radius: 4px;
  width: 300px;
  padding: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;

  /* Secondary */

  color: #516B84;
}

.MuiRadio-root.Mui-checked ~.MuiFormControlLabel-label > div > div{
  display: block;
}
.page-loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: white;
  z-index: 999;
}

.grayCheck .MuiFormControlLabel-label{
  font-family: 'Circular Std';
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;
}

.grayIsChecked .MuiCheckbox-root,
.MuiRadio-root.Mui-checked,
.MuiCheckbox-root.Mui-checked{
  position: relative;
}

.grayIsChecked .MuiCheckbox-root:before,
.MuiCheckbox-root.Mui-checked:before,
.MuiRadio-root.Mui-checked:before{
  content: '';
  position: absolute;
  width: 12px;
  height: 10px;
  background: #072B4F;
  z-index: -1;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  bottom: 0;
}

.no_bg:before{
  display: none!important;
}

.MuiTextField-root,
.MuiTextField-root input{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;
}

.MuiTextField-root label{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A8B5C1;

}

@media(min-width: 1025px) and (max-width: 1500px){
  .custom_stepper_wrap .Mui-completed .MuiStepLabel-iconContainer:before{
      width: 12px;
      height: 10px;
  }
}

@media(max-width: 767px){
  .body-wrapper{
    display: block;
  }

  .body-wrapper > div:last-child{
    padding-left: 0;
  }

  .body-wrapper.logged > div:last-child{
    padding-left: 0;
  }

  .custom_stepper_wrap .MuiStepConnector-horizontal{
    left: calc(-92% + 20px);
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8em;
    /* identical to box height */


    /* Placeholder */

    color: #A8B5C1;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8em;
    /* identical to box height */


    /* Placeholder */

    color: #A8B5C1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8em;
    /* identical to box height */


    /* Placeholder */

    color: #A8B5C1;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8em;
    /* identical to box height */


    /* Placeholder */

    color: #A8B5C1;
}



.auth_page_wrapper .MuiTextField-root,
.auth_page_wrapper .MuiTextField-root span{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8em;
  /* identical to box height */


  /* Placeholder */

  color: #A8B5C1;
}

.auth_page_wrapper .MuiInputLabel-formControl{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8em;
  /* identical to box height */


  /* Placeholder */

  color: #A8B5C1;
}

.MuiButton-root{
  box-shadow: none!important;
}