.onboarding_wrapper{
	padding: 30px 63px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	min-height: 100vh;
	position: relative;
}



.onboarding_inner_wrapper{
	min-height: 75vh;
	display: flex;
  flex-direction: column;
   
}

.onboarding_inner_wrapper.get_started_page{
	height: auto;
	min-height: auto;
}

.onboarding_wrapper h1{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 32px;
	max-width: 700px;

	color: #072B4F;
}

.onboarding_wrapper p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	/* Primary */

	color: #072B4F;
}

.onboarding_wrapper .onboarding_inner_logo{
	margin-bottom: 50px;
}

.onboarding_btn{
	margin-top: 32px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	padding: 11px 30px;

	color: #FFFFFF;
}


.onboarding_wrapper h2{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	/* Secondary */

	color: #516B84;
}

.onboarding_wrapper .step_text{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 25px;
	/* Secondary */

	color: #516B84;

}

.custom_stepper_wrapper{
	margin-bottom: 93px;
}

.high_five{
	font-size: 32px;
}

.high_five span{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;

	color: #000000;
}

.form_wrap{
	
}

.form_wrap div,
.form_wrap span{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;

}


.radio_option_text_wrap > div{
	font-family: 'Circular Std';
	background: #F3F4F6;
	border-radius: 4px;
	max-width: 500px; 

	padding: 14px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	margin-top: 8px;
	display: none;
	color: #516B84;
	animation: fadeInDown .3s ease-in;

}



.with_text_wrap{
	vertical-align: top!important;
	align-items: flex-start!important;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.btn_wrap{
	margin-top: auto;
	margin-bottom: 0;

}


.btn_wrap > div{
	margin-top: 30px;

}

.onboarding_sub_title{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	margin-bottom: 32px;

	/* Primary */

	color: #072B4F;
}

.with_text_wrap span:first-child{

}

.radio_option_text_wrap{
	padding-top: 12px;
}

.finish_page{
	align-items: center;
	
}

.list_wrap p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	margin-bottom: 16px;

	/* Primary */

	color: #072B4F;
	display: flex;
	align-items: center;
}	

.list_wrap p img{
	margin-right: 16px;
	
}	

.list_wrap{
	margin-top: 40px;
	margin-bottom: 50px;
}

.finish_btn{
	margin-top: 100px;
}

.get_started_page,
.welcome_page{
	height: 500px;
}

.get_started_page p,
.welcome_page p{
	max-width: 400px;
}


.breather_wrap{
	padding: 150px 0;
}


.custom_loader{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}

.custom_loader p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	/* Primary */
	margin-top: 30px;
	color: #072B4F;

}

.custom_stepper_wrapper > div > div > div{
	left: calc(-100% + 20px);;
}

.custom_stepper_wrapper > div > div > span{
	align-items: flex-start;
}

.custom_stepper_wrapper > div > div{
	padding-left: 0;
}



.download_app_wrap{
	background: rgba(248, 231, 28, 0.2);
	border-radius: 4px;
	padding: 16px;
	max-width: 323px;
}

.download_app_wrap h4{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 16px;
	/* Primary */

	color: #072B4F;

}

.download_app_wrap p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	/* Primary */
	margin-bottom: 21px;
	color: #072B4F;
}

.download_app_wrap .app_btns{

	display: flex;
}

.download_app_wrap{
	background: #FEFDE8;
	border: 1px solid #F8E71C;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 16px;
	max-width: 400px;
}

.download_app_wrap .app_btns{

	display: flex;

}

.download_app_wrap .app_btns a{
	/*border-radius: 50%;*/
	margin-right: 20px;
	display: inline-flex;
	/*background: #1CA566;*/
	height: 44px;
	width: 44px;
	justify-content: center;
	align-items: center;
}

.download_app_wrap .app_btns a img{
	max-width: 100%;
}

.welcome_page .top_section {
	font-family: 'Circular Std';
	border-bottom: 4px solid #F3F4F6;
	margin-bottom: 70px;
}

.welcome_page .top_section h1 {
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 2px;
}

.welcome_page .top_section h6 {
	font-size: 14px;
	font-weight: 400;
	color: #516B84;
	margin: 10px 0 0;
}

.welcome_page .content {
	font-family: 'Circular Std';
}

.welcome_page .content .content_row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0 -13px;
}

.welcome_page .content .content_col {
	width: 260px;
	margin: 0 13px;
	display: flex;
	align-items: stretch;
}

.welcome_page .content .content_col a > div:first-of-type {
	margin-bottom: 10px;
}

.welcome_page .content .content_col.score > a div:first-of-type {
	width: 58px;
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EB5757;
	border: 2px solid #F8E71C;
	border-radius: 50%;
	font-size: 25px;
	font-weight: 400;
	color: #fff;
}

.welcome_page .content .content_col.download a > div:first-of-type,
.welcome_page .content .content_col.retry_buy a > div:first-of-type,
.welcome_page .content .content_col.stats a > div:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background: #F8E71C;
	border-radius: 50%;
}

.welcome_page .content .content_col > a {
	border-radius: 8px;
	border: 1px solid #A8B5C1;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.2s ease-out;
}

.welcome_page .content .content_col > a h3 {
	font-size: 24px;
	font-weight: 400;
	color: #072B4F;
	margin: 0;
}
.welcome_page .content .content_col > a p {
	margin: 3px 0 0;
}

.welcome_page .content .content_col .arrow_container {
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	transition: all 0.2s ease-out;
}

.welcome_page .content .content_col > a:hover {
	border-color: #04182c;
	background: #072B4F;
}

.welcome_page .content .content_col > a:hover h3,
.welcome_page .content .content_col > a:hover p {
	color: #fff;
}

.welcome_page .content .content_col > a:hover svg path {
	fill: #fff;
}

.fadeInDown300{
	animation: fadeInDown .3s ease-in;
}

.fadeInDown400{
	animation: fadeInDown .4s ease-in;
}

.fadeInDown500{
	animation: fadeInDown .5s ease-in;
}

.fadeInDown600{
	animation: fadeInDown .6s ease-in;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@media(min-width: 1025px) and (max-width: 1500px){
	.on_assessment_wrapper .custom_stepper_wrapper svg{
			width: 16px;
			height: 16px;
	}
}

@media(max-width: 1024px){

	.on_assessment_wrapper .custom_stepper_wrapper{
			display: none;
	}

	.on_assessment_wrapper .custom_stepper_wrapper svg{
			width: 16px;
			height: 16px;
	}
}

@media(max-width: 767px){
  .onboarding_wrapper{
    min-height: auto!important;
    padding: 40px 25px;
  }

  .btn_wrap{
  	margin-top: 30px;
  }
  
  .onboarding_wrapper h1{
  	font-size: 28px;
  }

  .onboarding_inner_wrapper{
  	min-height: auto;
  	display: flex;
      flex-direction: column;
  }

  .custom_stepper_wrapper{
  	margin-bottom: 30px;
  }

  .on_assessment_wrapper .custom_stepper_wrapper{
  		display: none;
  }

  .custom_stepper_wrapper > div > div{
  	padding: 0;
  }

  .custom_stepper_wrapper > div > div > span{
  	align-items: flex-start;
  }

  .wellBeingText{
  	display: none!important;
  }

  .breather_wrap{
  	padding-top: 10px;
  	padding-bottom: 30px;
  }
}
