.onboarding_wrapper{
	padding: 30px 63px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}



.onboarding_inner_wrapper{
	min-height: 95vh;
	display: flex;
    flex-direction: column;
   
}

.onboarding_wrapper h1{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 32px;
	max-width: 700px;

	color: #072B4F;
}

.onboarding_wrapper p{
	font-family: 'Circular Std Book';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	/* Primary */

	color: #072B4F;
}

.onboarding_wrapper .onboarding_inner_logo{
	margin-bottom: 50px;
}

.onboarding_btn{
	margin-top: 32px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	padding: 11px 30px;

	color: #FFFFFF;
}


.onboarding_wrapper h2{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	/* Secondary */	

	color: #516B84;
}

.onboarding_wrapper .step_text{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	margin-top: 5px;
	margin-bottom: 24px;
	/* Secondary */

	color: #516B84;

}

.custom_stepper_wrapper{
	margin-bottom: 93px;
}

.high_five{
	font-size: 32px;
}

.high_five span{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;

	color: #000000;
}

.form_wrap{
	
}

.form_wrap div,
.form_wrap span{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;

}


.radio_option_text_wrap > div{
	font-family: 'Circular Std';
	background: #F3F4F6;
	border-radius: 4px;
	/* max-width: 300px; */
	padding: 14px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
	margin-top: 8px;
	display: none;
	color: #516B84;
}



.with_text_wrap{
	vertical-align: top;
	align-items: flex-start;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	/* Primary */

	color: #072B4F;
}

.btn_wrap{
	margin-top: auto;
	margin-bottom: 0;

}


.btn_wrap > div{
	margin-top: 30px;

}

.onboarding_sub_title{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	margin-bottom: 32px;

	/* Primary */

	color: #072B4F;
}

.with_text_wrap span:first-child{

}

.radio_option_text_wrap{
	padding-top: 12px;
}

.finish_page{
	align-items: center;
	
}

.list_wrap p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	margin-bottom: 16px;

	/* Primary */

	color: #072B4F;
	display: flex;
	align-items: center;
}	

.list_wrap p img{
	margin-right: 16px;
	
}	

.list_wrap{
	margin-top: 40px;
	margin-bottom: 50px;
}

.finish_btn{
	margin-top: 100px;
}

.get_started_page,
.welcome_page{
	height: 500px;
}

.get_started_page p,
.welcome_page p{
	max-width: 400px;
}


.breather_wrap{
	padding: 150px 0;
}


.custom_loader{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}

.custom_loader p{
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	/* Primary */
	margin-top: 30px;
	color: #072B4F;

}

@media(min-width: 1025px) and (max-width: 1500px){
	.on_assessment_wrapper .custom_stepper_wrapper svg{
			width: 16px;
			height: 16px;
	}
}

@media(max-width: 1024px){

	.on_assessment_wrapper .custom_stepper_wrapper{
			display: none;
	}

	.on_assessment_wrapper .custom_stepper_wrapper svg{
			width: 16px;
			height: 16px;
	}
}

@media(max-width: 767px){
  .onboarding_wrapper{
    min-height: auto!important;
    padding: 40px 25px;
  }

  .btn_wrap{
  	margin-top: 30px;
  }
  
  .onboarding_wrapper h1{
  	font-size: 28px;
  }

  .onboarding_inner_wrapper{
  	min-height: auto;
  	display: flex;
      flex-direction: column;
  }

  .custom_stepper_wrapper{
  	margin-bottom: 30px;
  }

  .on_assessment_wrapper .custom_stepper_wrapper{
  		display: none;
  }

  .custom_stepper_wrapper > div > div{
  	padding: 0;
  }

  .custom_stepper_wrapper > div > div > span{
  	align-items: flex-start;
  }
}
