.profileWrapper{
  padding: 30px 63px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}



.profileInnerWrapper{
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  
}


.profileInnerHeader h1{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  margin-top: 0;
  /* Primary */
  margin-bottom: 45px;

  color: #072B4F;
  border-bottom: 4px solid #F3F4F6;
}

.profileInnerHeader h4{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 18px;
  /* identical to box height */


  /* Secondary */

  color: #516B84;
}


.profileInnerMain{
  display: flex;
  flex-wrap: wrap;
}

.profileInnerLeft{
  width: 35%;
}

.profileInnerRight{
  width: 65%;
  max-width: 350px;
}

.profilePicture{
  margin-top: 50px;
  margin-bottom: 30px;
}

.profileStars {
  display: flex;
  align-items: center;
}

.profileStars > div {
  margin-right: 20px;
  position: relative;
}

.profileStars .count {
  position: absolute;
  right: -2px;
  top: -5px;
  background: #F8E71C;
  border: 1px solid #072B4F;
  border-radius: 20px;
  padding: 0 2px;
  font-size: 8px;
  font-weight: 700;
}

.profileDetails h2 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
  /* Primary */

  color: #072B4F;
}

.profileDetails p{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  margin-bottom: 3px;
  margin-top: 0;
  /* Primary */

  word-break: break-all;

  color: #516B84;
}

.profileDetails{
  margin-bottom: 50px;

}

.profileButtons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileButtons button {
  border: 1px solid #A8B5C1;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  margin-bottom: 16px;

  width: auto;
  /* Primary */

  color: #072B4F;

}


.formItem {
  margin-bottom: 15px;
  max-width: 350px;
}

.formItem label{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;

  /* Secondary */

  color: #516B84;
}

.formItem input {
  background: #F3F4F6;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.formItem > div fieldset{
  border: none;

}

.normal_btn{
  border: 1px solid #A8B5C1;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  width: 123px;
  margin-top: 25px;
  /* Primary */
  margin-right: 20px;
  color: #072B4F;
}

.profileButton {
  min-width: 123px;
  margin-top: 25px;
  margin-left: 0;
  font-size: 18px !important;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
}

.btn_primary {
  border-radius: 50%;
	margin-right: 20px;
	display: inline-flex;
	background: #1CA566;
	height: 44px;
	width: 44px;
	justify-content: center;
	align-items: center;
}

.button_wrapper{
  text-align: right;
  margin-top: 35px;
}

.profileInnerHeader a{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;

  /* Link */

  color: #1CA566;
}



.profileInnerPage{
  margin-top: 0;
}

.profileInnerPage .subscriptionInnerItem{
  display: flex;
  align-items: flex-start;
}

.profileInnerPage .subscriptionInnerItem > p:first-child{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  /* Primary */

  color: #072B4F;
  width: 170px;
}

.profileInnerPage .subscriptionInnerItem > p:last-child,
.profileInnerPage .subscriptionInnerItem > div:last-child p{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #516B84;
}


.privacyPolicyTextInput,
.privacyPolicyTextInput input,
.privacyPolicyTextInput svg,
.privacyPolicyTextInput span{
  pointer-events: none!important;
  user-select: none!important;
}

.profileInnerPage .button_wrapper{
  text-align: left;
  margin-top: 45px;
}

.passwordChecker{
  margin-top: 35px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  /* Primary */

  color: #072B4F;
}

.deleteInnerPage h3{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  /* OnPrimary */

  color: #072B4F;
}


.deleteInnerPage p{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* Secondary 70% */

  color: #516B84;

}

@media (max-width: 1200px) {
  .profileInnerMain{
    justify-content: space-between;
  }

  .profileInnerLeft{
    width: 50%;
  }

  .profilePicture{
    margin-top: 0;
  }
  
  .profileInnerRight{
    width: 65%;
    max-width: 350px;
  }
}

@media (max-width: 1170px) {
  .profileInnerPage .subscriptionInnerItem:last-of-type {
    flex-direction: column;
  }

  .profileInnerPage .subscriptionInnerItem:last-of-type > p {
    margin-bottom: 0;
  }
}

@media (max-width: 1040px) {
  .profileInnerMain{
    justify-content: flex-start;
    flex-direction: column;
  }

  .profileInnerLeft{
    width: 100%;
    margin-bottom: 40px;
  }
  
  .profileInnerRight{
    width: 100%;
    max-width: 350px;
  }

  .button_wrapper{
    text-align: left;
  }
}

@media (max-width: 430px) {
  .profileInnerHeader h1 {
    margin-bottom: 15px;
  }

  .profileInnerPage .subscriptionInnerItem {
    flex-direction: column;
  }

  .profileInnerPage .subscriptionInnerItem > p:first-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .profilePicture{
    display: flex;
    justify-content: center;
  }

  .profileButtons{
    align-items: stretch;
  }

  .profileStars {
    justify-content: center;
  }

  .profileStars > div {
    margin-right: 10px;
    margin-left: 10px;
  }

  .profileInnerRight{
    max-width: 100%;
  }

  .profileButton {
    margin-left: 0 !important;
  }
}

@media (max-width: 380px) {
  .profileWrapper {
    padding: 30px 30px;
  }

  .normal_btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .button_wrapper{
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}